/*图标大小*/
#demo-icon{
    height: 3rem;
}
/*隐藏滚动条*/
*::-webkit-scrollbar { width: 0 !important }
*{
    -ms-overflow-style: none!important;
    overflow: -moz-scrollbars-none!important;
}
/*网页滑动bug*/
body{
    width: 100vw;
    overflow-x:hidden;
}
/*页脚溢出异常*/
.footer{
    overflow-x:hidden;
}